{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<!-- P0100File/templates/P0100File/ken.html -->
<!-- BEGIN Head -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    {% if type_code == "ippan" %}
    <title>都道府県 | 一般資産調査票 | ファイル画面 | 水害統計オンラインサイト</title>
    {% elif type_code == "area" %}
    <title>都道府県 | 水害区域図 | ファイル画面 | 水害統計オンラインサイト</title>
    {% elif type_code == "chitan" %}
    <title>都道府県 | 公共土木施設地方単独事業調査票 | ファイル画面 | 水害統計オンラインサイト</title>
    {% elif type_code == "hojo" %}
    <title>都道府県 | 公共土木施設補助事業調査票 | ファイル画面 | 水害統計オンラインサイト</title>
    {% elif type_code == "koeki" %}
    <title>都道府県 | 公益事業等調査票 | ファイル画面 | 水害統計オンラインサイト</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
    .btn-fail    {background: #F44B25; color: #FFFFFF;}
    .btn-running {background: #258AC4; color: #FFFFFF;}
    .btn-cancel  {background: #6C757D; color: #FFFFFF;}
    .btn-success {background: #54AB51; color: #FFFFFF;}
    
    a:link {color: #000000; text-decoration:none;}
    a:visited {color: #000000; text-decoration:none;}
    a:hover {color: #000000; text-decoration:none;}
    a:active {color: #000000; text-decoration:none;}
    
    .cl-nav:link {color: #000000; text-decoration:none;}
    .cl-nav:visited {color: #000000; text-decoration:none;}
    .cl-nav:hover {color: #000000; text-decoration:none;}
    .cl-nav:active {color: #000000; text-decoration:none;}

    .cl-bread:link {color: #0000EE; text-decoration:underline;}
    .cl-bread:visited {color: #0000EE; text-decoration:underline;}
    .cl-bread:hover {color: #0000EE; text-decoration:underline;}
    .cl-bread:active {color: #0000EE; text-decoration:underline;}

    .cl-table:link {color: #0000EE; text-decoration: underline;}
    .cl-table:visited {color: #0000EE; text-decoration: underline;}
    .cl-table:hover {color: #0000EE; text-decoration: underline;}
    .cl-table:active {color: #0000EE; text-decoration: underline;}
    </style>
</head>
<!-- END Head -->

<!-- BEGIN Body -->
<body>
    {% bootstrap_messages %}
    {% block content %}

    <!-- BEGIN ナビバー -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- BEGIN ナビバー ファイルメニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" style="border-bottom: 2px solid #0000EE;" href="/P0100File/"><strong>ファイル</strong></a>
                    </li>
                    <!-- END ナビバー ファイルメニュー -->

                    <!-- BEGIN ナビバー 自動集計・自動検証メニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" href="/P0900Action/">
                            <strong>自動集計・自動検証</strong>
                        </a>
                    </li>
                    <!-- END ナビバー 自動集計・自動検証メニュー -->

                    <!-- BEGIN ナビバー マニュアル検証メニュー -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active cl-nav" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>マニュアル検証</strong>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/P0800Reverse/input/">入力DB内のデータ整合性検証</a></li>
                            <li><a class="dropdown-item" href="/P0800Reverse/summary/">集計DB内のデータ整合性検証</a></li>
                        </ul>
                    </li>
                    <!-- END ナビバー マニュアル検証メニュー -->

                    <!-- BEGIN ナビバー オンライン参照メニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" href="/P0400OnlineDisplay/">
                            <strong>オンライン参照</strong>
                        </a>
                    </li>
                    <!-- END ナビバー オンライン参照メニュー -->

                    <!-- BEGIN ナビバー グラフメニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" href="#">
                            <strong>グラフ</strong>
                        </a>
                    </li>
                    <!-- END ナビバー グラフメニュー -->

                    <!-- BEGIN ナビバー 帳票メニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" href="#">
                            <strong>帳票</strong>
                        </a>
                    </li>
                    <!-- END ナビバー 帳票メニュー -->
                </ul>
                <div class="col d-flex justify-content-end align-items-end">
                    <a class="cl-nav" href="/P0100Login/">
                        <strong>ログアウト</strong>
                    </a><br>
                </div>
            </div>
        </div>
    </nav>
    <!-- END ナビバー -->
    
    <!-- BEGIN 行 -->
    <div class="row mb-3 ms-1 me-1">
        <!-- BEGIN パンくずリスト 列 -->
        <div class="col-6 text-start">
            {% if type_code == "ippan" %}
            <h5><a class="cl-bread" href="/P0100File/">TOP</a> / <a class="cl-bread" href="/P0100File/type/ippan/">一般資産調査票</a> / {{ ken_list.0.ken_name }}: {{ ken_list.0.ken_code }} /</h5>
            {% elif type_code == "area" %}
            <h5><a class="cl-bread" href="/P0100File/">TOP</a> / <a class="cl-bread" href="/P0100File/type/area/">水害区域図</a> / {{ ken_list.0.ken_name }}: {{ ken_list.0.ken_code }} /</h5>
            {% elif type_code == "chitan" %}
            <h5><a class="cl-bread" href="/P0100File/">TOP</a> / <a class="cl-bread" href="/P0100File/type/chitan/">公共土木施設地方単独事業調査票</a> / {{ ken_list.0.ken_name }}: {{ ken_list.0.ken_code }} /</h5>
            {% elif type_code == "hojo" %}
            <h5><a class="cl-bread" href="/P0100File/">TOP</a> / <a class="cl-bread" href="/P0100File/type/hojo/">公共土木施設補助事業調査票</a> / {{ ken_list.0.ken_name }}: {{ ken_list.0.ken_code }} /</h5>
            {% elif type_code == "koeki" %}
            <h5><a class="cl-bread" href="/P0100File/">TOP</a> / <a class="cl-bread" href="/P0100File/type/koeki/">公益事業等調査票</a> / {{ ken_list.0.ken_name }}: {{ ken_list.0.ken_code }} /</h5>
            {% endif %}
        </div>
        <!-- END パンくずリスト 列 -->
    
        <!-- BEGIN ドロップダウンメニュー 列 -->
        <div class="col-6 text-end">
            <!-- BEGIN ダウンロードメニュー -->
            <div class="btn-group">
                <button type="button" class="btn btn-light border dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ダウンロード</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/400/">一般資産調査票_調査員用</a>
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/401/">一般資産調査票_市区町村用</a>
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/402/">一般資産調査票_都道府県用</a>
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/403/">公共土木施設地方単独事業調査票</a>
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/404/">公共土木施設補助事業調査票</a>
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/405/">公益事業等調査票</a>
                </div>
            </div>
            <!-- END ダウンロードメニュー -->
            
            <!-- BEGIN アップロードメニュー -->
            <div class="btn-group">
                <button type="button" class="btn btn-light border dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">アップロード</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/P0300IppanUpload/">一般資産調査票</a>
                    <a class="dropdown-item" href="/P0300AreaUpload/">水害区域図</a>
                    <a class="dropdown-item" href="/P0300ChitanUpload/">公共土木施設地方単独事業調査票</a>
                    <a class="dropdown-item" href="/P0300HojoUpload/">公共土木施設補助事業調査票</a>
                    <a class="dropdown-item" href="/P0300KoekiUpload/">公益事業等調査票</a>
                </div>
            </div>
            <!-- END アップロードメニュー -->
        </div>
        <!-- END ドロップダウンメニュー 列 -->
    </div>
    <!-- END 行 -->

    <!-- BEGIN IPPAN -->
    {% if type_code == "ippan" %}
    <!-- BEGIN IPPAN 行 -->
    <div class="row mb-3 ms-1 me-1">
        <!-- BEGIN IPPAN 列 -->
        <div class="col">
            <!-- BEGIN IPPAN カード -->
            <div class="card">
                <!-- BEGIN IPPAN カードヘッダ -->
                <div class="card-header">
                    <div class="row">
                        <div class="col text-start">
                            o-okada
                        </div>
                        <div class="col">
                        </div>
                        <div class="col text-end">
                            <a href="#" onclick="location.reload();">表示更新</a>
                        </div>
                    </div>
                </div>
                <!-- END IPPAN カードヘッダ -->
                
                <!-- BEGIN IPPAN カード本体 -->
                <div class="card-body">
                    <div class="table-responsive overflow-auto" style="">
                        <table class="table">
                            <!-- BEGIN IPPAN 戻るリンク -->
                            <tr>
                                <td colspan="8">
                                    <a href="/P0100File/type/ippan/">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0000EE" class="bi bi-three-dots" viewBox="0 0 16 16">
                                          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <!-- END IPPAN 戻るリンク -->
                            
                            <!-- BEGIN IPPAN 一般資産調査票一覧 -->
                            {% for suigai in suigai_list %}
                            <tr>
                                <td>{{ suigai.city_name|truncatechars:20 }}: {{ suigai.city_code|truncatechars:20 }}</td>
                                <td>アップロード <a class="cl-table" href="/{{ suigai.upload_file_path }}">{{ suigai.upload_file_name|truncatechars:30 }}</a></td>
                                <td>シート {{ suigai.suigai_name|truncatechars:20 }}</td>
                                <td>水害発生日 {{ suigai.begin_date|truncatechars:20 }}</td>

                                {% if suigai.deleted_at is None %}
                                <td>コミット日時 {{ suigai.committed_at|truncatechars:20 }}</td>
                                {% else %}
                                <td>削除日時 {{ suigai.deleted_at|truncatechars:20 }}</td>
                                {% endif %}
                                
                                {% if suigai.deleted_at is None %}
                                    {% if suigai.summary_file_name is None %}
                                    <td><a class="cl-table" href="/P0300AreaWeather/type/ippan/ken/{{ suigai.ken_code }}/suigai/{{ suigai.suigai_id }}/">編集</a></td>
                                    <td><a class="cl-table" href="/P0900Action/suigai/{{ suigai.suigai_id }}/">自動</a></td>
                                    <td>&raquo; 集計結果 </td>
                                    {% else %}
                                    <td><a class="cl-table" href="/P0300AreaWeather/type/ippan/ken/{{ suigai.ken_code }}/suigai/{{ suigai.suigai_id }}/">編集</a></td>
                                    <td><a class="cl-table" href="/P0900Action/suigai/{{ suigai.suigai_id }}/">自動</a></td>
                                    <td>&raquo; 集計結果 <a class="cl-table" href="/{{ suigai.summary_file_path }}">{{ suigai.summary_file_name|truncatechars:30 }}</a></td>
                                    {% endif %}
                                {% else %}
                                <td></td>
                                <td></td>
                                <td></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            <!-- END IPPAN 一般資産調査票一覧 -->
                        </table>
                    </div>
                </div>
                <!-- END IPPAN カード本体 -->
            </div>
            <!-- END IPPAN カード -->
        </div>
        <!-- END IPPAN 列 -->
    </div>
    <!-- END IPPAN 行 -->
    <!-- END IPPAN -->

    <!-- BEGIN AREA -->
    {% elif type_code == "area" %}
    <!-- BEGIN AREA 行 -->
    <div class="row mb-3 ms-1 me-1">
        <!-- BEGIN AREA 列 -->
        <div class="col">
            <!-- BEGIN AREA カード -->
            <div class="card">
                <!-- BEGIN AREA カードヘッダ -->
                <div class="card-header">
                    <div class="row">
                        <div class="col text-start">
                            o-okada
                        </div>
                        <div class="col">
                        </div>
                        <div class="col text-end">
                            <a href="#" onclick="location.reload();">表示更新</a>
                        </div>
                    </div>
                </div>
                <!-- END AREA カードヘッダ -->
                
                <!-- BEGIN AREA カード本体 -->
                <div class="card-body">
                    <div class="table-responsive overflow-auto" style="">
                        <table class="table">
                            <!-- BEGIN AREA 戻るリンク -->
                            <tr>
                                <td colspan="8">
                                    <a href="/P0100File/type/area/">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0000EE" class="bi bi-three-dots" viewBox="0 0 16 16">
                                          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <!-- END AREA 戻るリンク -->
                            
                            <!-- BEGIN AREA 水害区域図一覧 -->
                            {% for area in area_list %}
                            <tr>
                                <td>{{ area.ken_name|truncatechars:20 }}: {{ area.ken_code|truncatechars:20 }}</td>
                                <td>アップロード <a class="cl-table" href="/{{ area.upload_file_path }}">{{ area.upload_file_name|truncatechars:30 }}</a></td>
                                <td>{{ area.area_name|truncatechars:20 }}: {{ area.area_id|truncatechars:20 }}</td>

                                {% if area.deleted_at is None %}
                                <td>コミット日時 {{ area.committed_at|truncatechars:20 }}</td>
                                {% else %}
                                <td>削除日時 {{ area.deleted_at|truncatechars:20 }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            <!-- END AREA 水害区域図一覧 -->
                        </table>
                    </div>
                </div>
                <!-- END AREA カード本体 -->
            </div>
            <!-- END AREAカード -->
        </div>
        <!-- END AREA 列 -->
    </div>
    <!-- END AREA 行 -->
    <!-- END AREA -->
            
    <!-- BEGIN CHITAN -->
    {% elif type_code == "chitan" %}
    <!-- BEGIN CHITAN 行 -->
    <div class="row mb-3 ms-1 me-1">
        <!-- BEGIN CHITAN 列 -->
        <div class="col">
            <!-- BEGIN CHITAN カード -->
            <div class="card">
                <!-- BEGIN CHITAN カードヘッダ -->
                <div class="card-header">
                    <div class="row">
                        <div class="col text-start">
                            o-okada
                        </div>
                        <div class="col">
                        </div>
                        <div class="col text-end">
                            <a href="#" onclick="location.reload();">表示更新</a>
                        </div>
                    </div>
                </div>
                <!-- END CHITAN カードヘッダ -->
                
                <!-- BEGIN CHITAN カード本体 -->
                <div class="card-body">
                    <div class="table-responsive overflow-auto" style="">
                        <table class="table">
                            <!-- BEGIN CHITAN 戻るリンク -->
                            <tr>
                                <td colspan="8">
                                    <a href="/P0100File/type/chitan/">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0000EE" class="bi bi-three-dots" viewBox="0 0 16 16">
                                          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <!-- END CHITAN 戻るリンク -->
                            
                            <!-- BEGIN CHITAN 公共土木施設地方単独事業調査票一覧 -->
                            {% for chitan_file in chitan_file_list %}
                            <tr>
                                <td>アップロード <a class="cl-table" href="/{{ chitan_file.upload_file_path }}">{{ chitan_file.upload_file_name|truncatechars:30 }}</a></td>

                                {% if chitan_file.deleted_at is None %}
                                <td>コミット日時 {{ chitan_file.committed_at|truncatechars:20 }}</td>
                                {% else %}
                                <td>削除日時 {{ chitan_file.deleted_at|truncatechars:20 }}</td>
                                {% endif %}
                                
                                {% if chitan_file.deleted_at is None %}
                                    {% if chitan_file.summary_file_name is None %}
                                    <td>&raquo; 集計結果 </td>
                                    {% else %}
                                    <td>&raquo; 集計結果 <a class="cl-table" href="/{{ chitan_file.summary_file_path }}">{{ chitan_file.summary_file_name|truncatechars:30 }}</a></td>
                                    {% endif %}
                                {% else %}
                                <td></td>
                                <td></td>
                                <td></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            <!-- END CHITAN 公共土木施設地方単独事業調査票一覧 -->
                        </table>
                    </div>
                </div>
                <!-- END CHITAN カード本体 -->
            </div>
            <!-- END CHITAN カード -->
        </div>
        <!-- END CHITAN 列 -->
    </div>
    <!-- END CHITAN 行 -->
    <!-- END CHITAN -->

    <!-- BEGIN HOJO -->
    {% elif type_code == "hojo" %}
    <!-- BEGIN HOJO 行 -->
    <div class="row mb-3 ms-1 me-1">
        <!-- BEGIN HOJO 列 -->
        <div class="col">
            <!-- BEGIN HOJO カード -->
            <div class="card">
                <!-- BEGIN HOJO カードヘッダ -->
                <div class="card-header">
                    <div class="row">
                        <div class="col text-start">
                            o-okada
                        </div>
                        <div class="col">
                        </div>
                        <div class="col text-end">
                            <a href="#" onclick="location.reload();">表示更新</a>
                        </div>
                    </div>
                </div>
                <!-- END HOJO カードヘッダ -->
                
                <!-- BEGIN HOJO カード本体 -->
                <div class="card-body">
                    <div class="table-responsive overflow-auto" style="">
                        <table class="table">
                            <!-- BEGIN HOJO 戻るリンク -->
                            <tr>
                                <td colspan="8">
                                    <a href="/P0100File/type/hojo/">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0000EE" class="bi bi-three-dots" viewBox="0 0 16 16">
                                          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <!-- END HOJO 戻るリンク -->
                            
                            <!-- BEGIN HOJO 公共土木施設補助事業調査票一覧 -->
                            {% for hojo_file in hojo_file_list %}
                            <tr>
                                <td>アップロード <a class="cl-table" href="/{{ hojo_file.upload_file_path }}">{{ hojo_file.upload_file_name|truncatechars:30 }}</a></td>

                                {% if hojo_file.deleted_at is None %}
                                <td>コミット日時 {{ hojo_file.committed_at|truncatechars:20 }}</td>
                                {% else %}
                                <td>削除日時 {{ hojo_file.deleted_at|truncatechars:20 }}</td>
                                {% endif %}
                                
                                {% if hojo_file.deleted_at is None %}
                                    {% if hojo_file.summary_file_name is None %}
                                    <td>&raquo; 集計結果 </td>
                                    {% else %}
                                    <td>&raquo; 集計結果 <a class="cl-table" href="/{{ hojo_file.summary_file_path }}">{{ hojo_file.summary_file_name|truncatechars:30 }}</a></td>
                                    {% endif %}
                                {% else %}
                                <td></td>
                                <td></td>
                                <td></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            <!-- END HOJO 公共土木施設補助事業調査票一覧 -->
                        </table>
                    </div>
                </div>
                <!-- END HOJO カード本体 -->
            </div>
            <!-- END HOJO カード -->
        </div>
        <!-- END HOJO 列 -->
    </div>
    <!-- END HOJO 行 -->
    <!-- END HOJO -->
            
    <!-- BEGIN KOEKI -->
    {% elif type_code == "koeki" %}
    <!-- BEGIN KOEKI 行 -->
    <div class="row mb-3 ms-1 me-1">
        <!-- BEGIN KOEKI 列 -->
        <div class="col">
            <!-- BEGIN KOEKI カード -->
            <div class="card">
                <!-- BEGIN KOEKI カードヘッダ -->
                <div class="card-header">
                    <div class="row">
                        <div class="col text-start">
                            o-okada
                        </div>
                        <div class="col">
                        </div>
                        <div class="col text-end">
                            <a href="#" onclick="location.reload();">表示更新</a>
                        </div>
                    </div>
                </div>
                <!-- END KOEKI カードヘッダ -->
                
                <!-- BEGIN KOEKI カード本体 -->
                <div class="card-body">
                    <div class="table-responsive overflow-auto" style="">
                        <table class="table">
                            <!-- BEGIN KOEKI 戻るリンク -->
                            <tr>
                                <td colspan="8">
                                    <a href="/P0100File/type/koeki/">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0000EE" class="bi bi-three-dots" viewBox="0 0 16 16">
                                          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <!-- END KOEKI 戻るリンク -->
                            
                            <!-- BEGIN KOEKI 公益事業等調査票一覧 -->
                            {% for koeki_file in koeki_file_list %}
                            <tr>
                                <td>アップロード <a class="cl-table" href="/{{ koeki_file.upload_file_path }}">{{ koeki_file.upload_file_name|truncatechars:30 }}</a></td>

                                {% if koeki_file.deleted_at is None %}
                                <td>コミット日時 {{ koeki_file.committed_at|truncatechars:20 }}</td>
                                {% else %}
                                <td>削除日時 {{ koeki_file.deleted_at|truncatechars:20 }}</td>
                                {% endif %}
                                
                                {% if koeki_file.deleted_at is None %}
                                    {% if koeki_file.summary_file_name is None %}
                                    <td>&raquo; 集計結果 </td>
                                    {% else %}
                                    <td>&raquo; 集計結果 <a class="cl-table" href="/{{ koeki_file.summary_file_path }}">{{ koeki_file.summary_file_name|truncatechars:30 }}</a></td>
                                    {% endif %}
                                {% else %}
                                <td></td>
                                <td></td>
                                <td></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            <!-- END KOEKI 公益事業等調査票一覧 -->
                        </table>
                    </div>
                </div>
                <!-- END KOEKI カード本体 -->
            </div>
            <!-- END KOEKI カード -->
        </div>
        <!-- END KOEKI 列 -->
    </div>
    <!-- END KOEKI 行 -->
    {% endif %}
    <!-- END KOEKI -->

    <!-- BEGIN コンテナ -->
    <!--<div class="container mb-3">-->
    <!--    <div class="alert alert-info" role="alert">-->
    <!--        A simple info alert-check it out!-->
    <!--    </div>-->
    <!--</div>-->
    <!-- END コンテナ -->

    <script type="text/javascript">
    </script>
    {% endblock %}
</body>
<!-- END Body -->
</html>
