{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<!-- P0100File/templates/P0100File/ken.html -->
<!-- BEGIN Head -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <title>ファイル画面 | 水害統計オンラインサイト</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
    .btn-fail    {background: #F44B25; color: #FFFFFF;}
    .btn-running {background: #258AC4; color: #FFFFFF;}
    .btn-cancel  {background: #6C757D; color: #FFFFFF;}
    .btn-success {background: #54AB51; color: #FFFFFF;}
    
    a:link {color: #000000; text-decoration:none;}
    a:visited {color: #000000; text-decoration:none;}
    a:hover {color: #000000; text-decoration:none;}
    a:active {color: #000000; text-decoration:none;}
    
    .cl-nav:link {color: #000000; text-decoration:none;}
    .cl-nav:visited {color: #000000; text-decoration:none;}
    .cl-nav:hover {color: #000000; text-decoration:none;}
    .cl-nav:active {color: #000000; text-decoration:none;}

    .cl-bread:link {color: #0000EE; text-decoration:underline;}
    .cl-bread:visited {color: #0000EE; text-decoration:underline;}
    .cl-bread:hover {color: #0000EE; text-decoration:underline;}
    .cl-bread:active {color: #0000EE; text-decoration:underline;}

    .cl-table:link {color: #0000EE; text-decoration: underline;}
    .cl-table:visited {color: #0000EE; text-decoration: underline;}
    .cl-table:hover {color: #0000EE; text-decoration: underline;}
    .cl-table:active {color: #0000EE; text-decoration: underline;}
    </style>
</head>
<!-- END Head -->

<!-- BEGIN Body -->
<body>
    {% bootstrap_messages %}
    {% block content %}

    <!-- BEGIN ナビバー -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- BEGIN ナビバー ファイルメニュー -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active cl-nav" style="border-bottom: 2px solid #0000EE;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>ファイル</strong>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/P0100File/type/ippan/">一般資産調査員調査票</a></li>
                            <li><a class="dropdown-item" href="/P0100File/type/area/">水害区域図</a></li>
                            <li><a class="dropdown-item" href="/P0100File/type/kokyo/">公共土木調査票</a></li>
                            <li><a class="dropdown-item" href="/P0100File/type/koeki/">公益事業調査票</a></li>
                        </ul>
                    </li>
                    <!-- END ナビバー ファイルメニュー -->

                    <!-- BEGIN ナビバー 自動集計・自動検証メニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" href="/P0900Action/"><strong>自動集計・自動検証</strong></a>
                    </li>
                    <!-- END ナビバー 自動集計・自動検証メニュー -->

                    <!-- BEGIN ナビバー マニュアル検証メニュー -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active cl-nav" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>マニュアル検証</strong>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/P0800Reverse/input/">入力DB内のデータ整合性検証</a></li>
                            <li><a class="dropdown-item" href="/P0800Reverse/summary/">集計DB内のデータ整合性検証</a></li>
                        </ul>
                    </li>
                    <!-- END ナビバー マニュアル検証メニュー -->

                    <!-- BEGIN ナビバー オンライン参照メニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" href="/P0400OnlineDisplay/"><strong>オンライン参照</strong></a>
                    </li>
                    <!-- END ナビバー オンライン参照メニュー -->

                    <!-- BEGIN ナビバー グラフメニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" href="#"><strong>グラフ</strong></a>
                    </li>
                    <!-- END ナビバー グラフメニュー -->

                    <!-- BEGIN ナビバー 帳票メニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" href="#"><strong>帳票</strong></a>
                    </li>
                    <!-- END ナビバー 帳票メニュー -->
                </ul>
                <div class="col d-flex justify-content-end align-items-end">
                    <a class="cl-nav" href="/P0100Login/"><strong>ログアウト</strong></a><br>
                </div>
            </div>
        </div>
    </nav>
    <!-- END ナビバー -->

    <!-- BEGIN 画面名 -->
    <!--<div class="container text-center mb-3">-->
    <!--    <h3>ファイル画面</h3>-->
    <!--</div>-->
    <!-- END 画面名 -->
    
    <!-- BEGIN コンテナ -->
    <div class="container mb-3">
        <!-- BEGIN 行 -->
        <div class="row">
            <!-- BEGIN パンくずリスト -->
            <div class="col text-start">
                {% if type_code == "ippan" %}
                <h5><a class="cl-bread" href="/P0100File/type/ippan/">一般資産調査員調査票</a> / {{ ken_list.0.ken_name }}: {{ ken_list.0.ken_code }} /</h5>
                {% elif type_code == "area" %}
                <h5><a class="cl-bread" href="/P0100File/type/area/">水害区域図</a> / {{ ken_list.0.ken_name }}: {{ ken_list.0.ken_code }} /</h5>
                {% elif type_code == "kokyo" %}
                <h5><a class="cl-bread" href="/P0100File/type/kokyo/">公共土木調査票</a> / {{ ken_list.0.ken_name }}: {{ ken_list.0.ken_code }} /</h5>
                {% elif type_code == "koeki" %}
                <h5><a class="cl-bread" href="/P0100File/type/koeki/">公益事業調査票</a> / {{ ken_list.0.ken_name }}: {{ ken_list.0.ken_code }} /</h5>
                {% endif %}
            </div>
            <!-- END パンくずリスト -->
        
            <!-- BEGIN ドロップダウンメニュー -->
            <div class="col text-end">
                <!-- BEGIN ダウンロードメニュー -->
                <div class="btn-group">
                    <button type="button" class="btn btn-light border dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ダウンロード</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/P0200ExcelDownload/">一括ダウンロード</a>
                        <a class="dropdown-item" href="/P0200ExcelDownload/">一般資産調査員調査票</a>
                        <a class="dropdown-item" href="/P0200ExcelDownload/">水害区域図</a>
                        <a class="dropdown-item" href="/P0200ExcelDownload/">公共土木調査票</a>
                        <a class="dropdown-item" href="/P0200ExcelDownload/">公益事業調査票</a>
                    </div>
                </div>
                <!-- END ダウンロードメニュー -->
                
                <!-- BEGIN アップロードメニュー -->
                <div class="btn-group">
                    <button type="button" class="btn btn-light border dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">アップロード</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/P0300ExcelUpload/">一般資産調査員調査票</a>
                        <a class="dropdown-item" href="/P0300AreaUpload/">水害区域図</a>
                        <a class="dropdown-item" href="/P0300ExcelUpload/">公共土木調査票</a>
                        <a class="dropdown-item" href="/P0300ExcelUpload/">公益事業調査票</a>
                    </div>
                </div>
                <!-- END アップロードメニュー -->
                
                <!-- BEGIN 編集メニュー -->
                <div class="btn-group">
                    <button type="button" class="btn btn-light border dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">編集</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/P0300AreaWeather/">水害区域番号、異常気象コード</a>
                    </div>
                </div>
                <!-- END 編集メニュー -->
            </div>
            <!-- END ドロップダウンメニュー -->
        </div>
        <!-- END 行 -->
    </div>
    <!-- END コンテナ -->
    
    <!-- BEGIN コンテナ -->
    <div class="container mb-3">
        <!-- BEGIN カード -->
        <div class="card">
            <!-- BEGIN カードヘッダ -->
            <div class="card-header">
                <div class="row">
                    <div class="col text-start">
                        o-okada
                    </div>
                    <div class="col">
                    </div>
                    <div class="col text-end">
                        <a href="">更新</a>
                    </div>
                </div>
            </div>
            <!-- END カードヘッダ -->
            
            <!-- BEGIN カード本体 -->
            <div class="card-body">
                <div class="table-responsive overflow-auto" style="">
                    <table class="table">
                        <!-- BEGIN 戻るリンク -->
                        <tr>
                            <td colspan="8">
                                {% if type_code == "ippan" %}
                                <a href="/P0100File/type/ippan/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0000EE" class="bi bi-three-dots" viewBox="0 0 16 16">
                                      <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                    </svg>
                                </a>
                                {% elif type_code == "area" %}
                                <a href="/P0100File/type/area/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0000EE" class="bi bi-three-dots" viewBox="0 0 16 16">
                                      <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                    </svg>
                                </a>
                                {% elif type_code == "kokyo" %}
                                <a href="/P0100File/type/kokyo/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0000EE" class="bi bi-three-dots" viewBox="0 0 16 16">
                                      <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                    </svg>
                                </a>
                                {% elif type_code == "koeki" %}
                                <a href="/P0100File/type/koeki/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0000EE" class="bi bi-three-dots" viewBox="0 0 16 16">
                                      <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                    </svg>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        <!-- END 戻るリンク -->
                        
                        <!-- BEGIN 一般資産調査員調査票 -->
                        {% if type_code == 'ippan' %}
                        {% for suigai in suigai_list %}
                        <tr>
                            <td>{{ suigai.ken_name }}: {{ suigai.ken_code }}</td>
                            <td>{{ suigai.city_name }}: {{ suigai.city_code }}</td>

                            {% if suigai.input_file_name is None %}
                            <td></td>
                            {% else %}
                            <td>{{ suigai.input_file_name }}</td>
                            {% endif %}
                            
                            <td>{{ suigai.suigai_name }}: {{ suigai.suigai_id }}</td>
                            
                            {% if suigai.begin_date is None %}
                            <td></td>
                            {% else %}
                            <td>水害発生日 {{ suigai.begin_date }}</td>
                            {% endif %}
                            
                            {% if suigai.committed_at is None %}
                            <td></td>
                            {% else %}
                            <td>コミット日時 {{ suigai.committed_at }}</td>
                            {% endif %}
                            <td><a class="cl-table" href="/P0300AreaWeather/type/ippan/ken/{{ suigai.ken_code }}/suigai/{{ suigai.suigai_id }}/">詳細</a></td>
                            <td><a class="cl-table" href="/P0900Action/suigai/{{ suigai.suigai_id }}/">実行状況</a></td>
                        </tr>
                        {% endfor %}
                        <!-- END 一般資産調査員調査票 -->

                        <!-- BEGIN 水害区域図 -->
                        {% elif type_code == 'area' %}
                        {% for area in area_list %}
                        <tr>
                            <td>{{ area.ken_name }}: {{ area.ken_code }}</td>
                            <td>{{ area.input_file_name }}</td>
                            <td>{{ area.area_name }}: {{ area.area_id }}</td>
                            <td>コミット日時 {{ area.committed_at }}</td>
                            <td><a class="cl-table" href="">詳細</a></td>
                            <td><a class="cl-table" href="">実行状況</a></td>
                        </tr>
                        {% endfor %}
                        <!-- END 水害区域図 -->

                        <!-- BEGIN 公共土木調査票 -->
                        {% elif type_code == 'kokyo' %}
                        <!-- END 公共土木調査票 -->
                        
                        <!-- BEGIN 公益事業調査票 -->
                        {% elif type_code == 'koeki' %}
                        <!-- END 公益事業調査票 -->
                        
                        <!-- BEGIN その他 -->
                        {% else %}
                        {% endif %}
                        <!-- END その他 -->
                    </table>
                </div>
            </div>
            <!-- END カード本体 -->
        </div>
        <!-- END カード -->
    </div>
    <!-- END コンテナ -->

    <!-- BEGIN コンテナ -->
    <!--<div class="container mb-3">-->
    <!--    <div class="alert alert-info" role="alert">-->
    <!--        A simple info alert-check it out!-->
    <!--    </div>-->
    <!--</div>-->
    <!-- END コンテナ -->

    <script type="text/javascript">
    </script>
    {% endblock %}
</body>
<!-- END Body -->
</html>
