{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<!-- P0300ExcelUpload/templates/P0300ExcelUpload/index.html -->
<!-- BEGIN Head -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <title>EXCELアップロード方式EXCELアップロード画面 | 水害統計オンラインサイト</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<!-- END Head -->

<!-- BEGIN Body -->
<body>
    {% bootstrap_messages %}
    <a href="{% url 'P0000Dummy:index_view' %}">ダミーメニュー画面に戻る</a><br>
    {% block content %}
    
    <!-- BEGIN container text-center mb-3 -->
    <div class="container text-center mb-3">
        <h3>EXCELアップロード画面</h3>
    </div>
    <!-- END container text-center mb-3 -->
    
    <!-- BEGIN form -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- BEGIN container mb-3 -->
        <div class="container mb-3">
            <div class="row">
                <label class="col-form-label">１．ファイルを選択ボタンをクリックして、アップロードするEXCELファイルを選択してください。</label>
                <div class="input-group">
                    <input class="form-control" type="file" id="id_file" name="file" required>
                </div>
            </div>
        </div>
        <!-- END container mb-3 -->
        
        <!-- BEGIN container mb-3 -->
        <div class="container mb-3">
            <div class="row">
                <label class="col-form-label">２．アップロードボタンをクリックしてください。EXCELファイルがサーバにアップロードされます。</label>
            </div>
        </div>
        <!-- END container mb-3 -->
        
        <!-- BEGIN container text-center mb-3 -->
        <div class="container text-center mb-3">
            <button class="btn btn-secondary" type="submit">アップロード</button>
        </div>
        <!-- END container text-center mb-3 -->

        <!-- BEGIN container mb-3 -->        
        <div class="container mb-3">
            <div class="row">
                <label class="col-form-label">※　EXCELファイルがサーバにアップロードされると、承認・集計・配布処理が終了するまで次のアップロードができなくなります。</label>
            </div>
        </div>
        <!-- END container mb-3 -->
        
    </form>
    <!-- END form -->
    
    {% endblock %}
</body>
<!-- END Body -->

</html>

