{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<!-- P0300AreaWeatherUpdate/templates/P0300AreaWeatherUpdate/index.html -->
<!-- BEGIN Head -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <title>水害区域図、異常気象コード編集画面 | 水害統計オンラインサイト</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<!-- END Head -->

<!-- BEGIN Body -->
<body>
    {% bootstrap_messages %}
    {% block content %}

    <!-- BEGIN トップパネル -->
    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col d-flex justify-content-start align-items-start">
                <strong><a href="/P0100File/R4/">ファイル</a></strong>&nbsp;&nbsp;&nbsp;
                <a href="/P0900Action">自動集計・自動検証</a>&nbsp;&nbsp;&nbsp;
                <a href="/P0800Reverse/input/">マニュアル検証</a>&nbsp;&nbsp;&nbsp;
                <a href="/P0400OnlineDisplay">オンライン参照</a>&nbsp;&nbsp;&nbsp;
                <a href="">グラフ</a>&nbsp;&nbsp;&nbsp;
                <a href="">帳票</a>&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col d-flex justify-content-center align-items-center">
            </div>
            <div class="col d-flex justify-content-end align-items-end">
                <a href="{% url 'P0100Login:index_view' %}">ログアウト</a><br>
            </div>
        </div>
    </div>
    <!-- END トップパネル -->
    
    <!-- BEGIN 画面名 -->
    <div class="container text-center mb-3">
        <h3>水害区域図、異常気象コード編集画面</h3>
    </div>
    <!-- END 画面名 -->

    <!-- BEGIN 検索とフィルタ -->
    <div class="row mb-3 ms-3 me-3">
        <div class="col-12 col-xl-6">
            <div class="input-group">
                <select class="form-select" id="form_select_ken" name="form_select_ken">
                    <option value="0">都道府県の絞り込み条件を選択してください。</option>
                    {% for ken in ken_list %}
                    {% if ken.ken_code == ken_code %}
                    <option value="{{ ken.ken_code }}" selected>{{ ken.ken_name }}: {{ ken.ken_code }}</option>
                    {% else %}
                    <option value="{{ ken.ken_code }}">{{ ken.ken_name }}: {{ ken.ken_code }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <button class="btn btn-secondary btn-sm" type="button" id="button_ken" name="button_ken">都道府県選択</button>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="input-group">
                <select class="form-select" id="form_select_city" name="form_select_city">
                    <option value="0">市区町村の絞り込み条件を選択してください。</option>
                    {% for city in city_list %}
                    {% if city.city_code == city_code %}
                    <option value="{{ city.city_code }}" selected>{{ city.city_name }}: {{ city.city_code }}</option>
                    {% else %}
                    <option value="{{ city.city_code }}">{{ city.city_name }}: {{ city.city_code }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <button class="btn btn-secondary btn-sm" type="button" id="button_city" name="button_city">市区町村選択</button>
            </div>
        </div>
    </div>
    <!-- END 検索とフィルタ -->

    <!-- BEGIN ナビアイテム -->
    <ul class="nav nav-tabs ms-3 me-3" id="testNav" role="tablist">
        {% for suigai in suigai_list %}
        <li class="nav-item" role="presentation">
            <!-- ページを開いた時に表示されている部分に関しては、class="active"とaria-selected="true"が必要。 -->
            <!-- ここで書いたものがナビアイテムとして表示される。 -->
            <a class="nav-link active text-secondary" id="nav-link{{ suigai.suigai_id }}" href="#sheet{{ suigai.suigai_id }}" data-bs-toggle="tab" role="tab" aria-controls="sheet{{ suigai.suigai_id }}" aria-selected="true">シート{{ suigai.suigai_id }}</a>
        </li>
        {% endfor %}
    </ul>
    <!-- END ナビアイテム -->

    <!-- BEGIN タブパネル -->
    <div class="tab-content ms-3 me-3" id="testTabContent">
        {% for suigai in suigai_list %}
        <div class="tab-pane fade show active" id="sheet{{ suigai.suigai_id }}" role="tabpanel" aria-labelledby="nav-link{{ suigai.suigai_id }}">
            <!-- タブパネルの中身を書く -->
            <form action="/P0300AreaWeatherUpdate/" method="post" onSubmit="return submit_data();" id="form_data" name="form_data">
                {% csrf_token %}
                <div class="text-center mt-3 mb-3">
                    <button class="btn btn-success" type="submit" id="button_update" name="button_update">データベースに登録する</button>
                </div>
                <div class="input-group mb-3 mt-3">
                    <label class="col-form-label col-2">水害ID</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="suigai" name="suigai" placeholder="" disabled value="{{ suigai.suigai_id }}">
                        <input class="form-control" type="text" id="suigai_id" name="suigai_id" placeholder="" hidden value="{{ suigai.suigai_id }}">
                    </div>
                </div>
                <div class="input-group mb-3 mt-3">
                    <label class="col-form-label col-2">都道府県</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="ken" name="ken" placeholder="" disabled value="{{ suigai.ken_name }}:{{ suigai.ken_code }}">
                        <input class="form-control" type="text" id="ken_code" name="ken_code" placeholder="" hidden value="{{ suigai.ken_code }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">市区町村</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="city" name="city" placeholder="" disabled value="{{ suigai.city_name }}:{{ suigai.city_code }}">
                        <input class="form-control" type="text" id="city_code" name="city_code" placeholder="" hidden value="{{ suigai.city_code }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">水害発生年月日</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="begin_date" name="begin_date" placeholder="" disabled value="{{ suigai.begin_date }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">水害終了年月日</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="end_date" name="end_date" placeholder="" value="{{ suigai.end_date }}" disabled>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">水害原因1</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="cause_1" name="cause_1" placeholder="" disabled value="{{ suigai.cause_1_name }}:{{ suigai.cause_1_code }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">水害原因2</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="cause_2" name="cause_2" placeholder="" disabled value="{{ suigai.cause_2_name }}:{{ suigai.cause_2_code }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">水害原因3</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="cause_3" name="cause_3" placeholder="" disabled value="{{ suigai.cause_3_name }}:{{ suigai.cause_3_code }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">水害区域番号</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="area_id" name="area_id" placeholder="水害区域番号を入力してください。" value="{{ suigai.area_id }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">水系・沿岸名</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="suikei" name="suikei" placeholder="" disabled value="{{ suigai.suikei_name }}:{{ suigai.suikei_code }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">水系種別</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="suikei_type" name="suikei_type" placeholder="" disabled value="{{ suigai.suikei_type_name }}:{{ suigai.suikei_type_code }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">河川・海岸名</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="kasen" name="kasen" placeholder="" disabled value="{{ suigai.kasen_name }}:{{ suigai.kasen_code }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">河川種別</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="kasen_type" name="kasen_type" placeholder="" disabled value="{{ suigai.kasen_type_name }}:{{ suigai.kasen_type_code }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">地盤勾配区分</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="gradient" name="gradient" placeholder="" disabled value="{{ suigai.gradient_name }}:{{ suigai.gradient_code }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">水害区域面積宅地</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="residential_area" name="residential_area" placeholder="" disabled value="{{ suigai.residential_area }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">水害区域面積農地</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="agricultural_area" name="agricultural_area" placeholder="" disabled value="{{ suigai.agricultural_area }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">水害区域面積地下</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="underground_area" name="underground_area" placeholder="" disabled value="{{ suigai.underground_area }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">工種</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="kasen_kaigan" name="kasen_kaigan" placeholder="" disabled value="{{ suigai.kasen_kaigan_name }}:{{ suigai.kasen_kaigan_code }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">農作物被害額</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="crop_damage" name="crop_damage" placeholder="" disabled value="{{ suigai.crop_damage }}">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-form-label col-2">異常気象</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="weather_id" name="weather_id" placeholder="異常気象コードを入力してください。" value="{{ suigai.weather_id }}">
                    </div>
                </div>
                <div class="text-center mb-3">
                    <button class="btn btn-success" type="submit" id="button_update" name="button_update">データベースに登録する</button>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
    <!-- END ナビゲーションとタブ -->
    
    <script type="text/javascript">
    var button_ken = document.getElementById("button_ken"); // 都道府県選択ボタン
    var button_city = document.getElementById("button_city"); // 市区町村選択ボタン

    // 都道府県選択ボタンクリック時のイベントハンドラを設定する。
    button_ken.addEventListener("click", function(event) {
        window.location.href = "/P0300AreaWeatherUpdate/" + "ken/" + form_select_ken.value + "/city/0/"
    });

    // 市区町村選択ボタンクリック時のイベントハンドラを設定する。
    button_city.addEventListener("click", function(event) {
        window.location.href = "/P0300AreaWeatherUpdate/" + "ken/" + form_select_ken.value + "/city/" + form_select_city.value + "/"
    });

    // サーバ側にポストで送信する。
    function submit_data() {
        form_data.action = '/P0300AreaWeatherUpdate/';
        form_data.enctype = '';
        form_data.method = 'POST';
        form_data.submit();
        return true;
    }
    </script>
    {% endblock %}
</body>
<!-- END Body -->
</html>
