{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<!-- P0100Login/index.html -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <title>{% block title %}ログイン画面{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {# bootstrap_css #}
    {# bootstrap_javascript #}
</head>
<body>
    {% bootstrap_messages %}
    <a href="{% url 'P0000Dummy:index_view' %}">ダミーメニュー画面に戻る</a><br>
    {% block content %}
    <div class="container text-center mb-3">
        <h3>ログイン画面</h3>
    </div>
    <div class="container mb-3">
        <div class="row">
            <label class="col-form-label col-sm-2">ユーザ名</label>
            <div class="col-sm-10">
                <input id="layoutExam3-login" class="form-control" type="text" value="ユーザ名を入力">
            </div>
        </div>
    </div>
    <div class="container mb-3">
        <div class="row">
            <label class="col-form-label col-sm-2">パスワード</label>
            <div class="col-sm-10">
                <input id="layoutExam3-password" class="form-control" type="text" value="パスワードを入力">
            </div>
        </div>
    </div>
    <div class="container text-center mb-3">
        <button class="btn btn-primary" type="button">ログイン</button>
    </div>
    {% endblock %}
</body>
</html>

