{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<!-- P9100Transact/index.html -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <title>{% block title %}承認・集計・配布画面{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {# bootstrap_css #}
    {# bootstrap_javascript #}
</head>
<body>
    {% bootstrap_messages %}
    <a href="{% url 'P0000Dummy:index_view' %}">ダミーメニュー画面に戻る</a><br>
    
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-start align-items-start">
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <h3>承認・集計・配布</h3>
            </div>    
            <div class="col d-flex justify-content-end align-items-end">
            </div>
        </div>
    </div>
    
    <!-- 都道府県、市区町村、種別選択 -->
    <div class="mb-3">
        <table class="table table-borderless">
            <tr>
                <!-- 都道府県選択 -->
                <td>
                    <div class="input-group">
                        <select class="form-select" id="form_select_ken" name="form_select_ken">
                            <option value="">都道府県選択</option>
                            {% for ken in ken_list %}
                            {% if ken.ken_code == ken_code %}
                            <option value="{{ ken.ken_code }}" selected>{{ ken.ken_name }}</option>
                            {% else %}
                            <option value="{{ ken.ken_code }}">{{ ken.ken_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <button class="btn btn-primary" type="button" id="button_ken" name="button_ken">都道府県選択</button>
                    </div>
                </td>
                <!-- 市区町村選択 -->
                <td>
                    <div class="input-group">
                        <select class="form-select" id="form_select_city" name="form_select_city">
                            <option value="">市区町村選択</option>
                            {% for city in city_list %}
                            {% if city.city_code == city_code %}
                            <option value="{{ city.city_code }}" selected>{{ city.city_name }}</option>
                            {% else %}
                            <option value="{{ city.city_code }}">{{ city.city_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <button class="btn btn-primary" type="button" id="button_city" name="button_city">市区町村選択</button>
                    </div>
                </td>
            </tr>    
        </table>
    </div>
    
    <!-- 一覧表示 -->
    <div class="container mb-3">
        <table class="table table-bordered">
            <!-- 一覧表示（th: テーブルヘッダ） -->
            <thead>
                <tr>
                    <th class="text-center">変更日時</th>
                    <th class="text-center">登録者</th>
                    <th class="text-center">項目</th>
                    <th class="text-center">市区町村</th>
                    <th class="text-center"></th>
                    <th class="text-center">承認／否認／保留</th>
                </tr>
            </thead>
            <!-- 一覧表示（td: テーブルデータ） -->
            <tbody>
                {% for transact in transact_list %}
                <tr>
                    <td>{{ transact.upload_date }}</td>
                    <td>{{ transact.ken_code }}</td>
                    <td>{{ transact.ippan_kokyo_koeki_code }}</td>
                    <td>{{ transact.city_code }}</td>
                    <td>
                        <button class="btn btn-primary" type="button">詳細表示</button>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="radio_{{ transact.transact_id }}_1" name="radio_{{ transact.transact_id }}" value="1">
                            <label class="form-check-label" for="radio_{{ transact.transact_id }}">承認</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="radio_{{ transact.transact_id }}_2" name="radio_{{ transact.transact_id }}" value="2" checked>
                            <label class="form-check-label" for="radio_{{ transact.transact_id }}">否認</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="radio_{{ transact.transact_id }}_3" name="radio_{{ transact.transact_id }}" value="3">
                            <label class="form-check-label" for="radio_{{ transact.transact_id }}">保留</label>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!--  -->
    <div class="container mb-3">
        <table>
            <tr>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="" name="radio_99" value="" checked>
                        <label class="form-check-label">スケジュール集計・配布</label>
                    </div>
                </td>
                <td>
                    <table class="table table-bordered">
                        <tr>
                            <td class="text-center">年</td>
                            <td class="text-center">月</td>
                            <td class="text-center">日</td>
                            <td class="text-center">時</td>
                            <td class="text-center">分</td>
                        </tr>
                        <tr>
                            <td><select class="form-select" id=""><option value="">2007</option></select></td>
                            <td><select class="form-select" id=""><option value="">1</option></select></td>
                            <td><select class="form-select" id=""><option value="">12</option></select></td>
                            <td><select class="form-select" id=""><option value="">19</option></select></td>
                            <td><select class="form-select" id=""><option value="">44</option></select></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="" name="radio_99" value="">
                        <label class="form-check-label">即時集計・配布</label>
                    </div>    
                </td>
            </tr>
        </table>    
    </div>
    
    <!--  -->
    <div class="container mb-3">
        <label class="col-form-label col-sm-2">承認時コメント</label>
        <textarea class="form-control" value="">承認時コメント</textarea>
    </div>
    
    <!--  -->
    <div class="container text-center mb-3">
        <button class="btn btn-primary" type="button">実行</button>
        <button class="btn btn-primary" type="button">キャンセル</button>
    </div>

    <script>
    <!-- 都道府県、市区町村、種別選択 -->
    var button_ken = document.getElementById("button_ken")
    var button_city = document.getElementById("button_city")
    
    button_ken.addEventListener("click", function(event) {
        if (form_select_ken.value >= 1) {
            window.location.href = "/P9100Transact/" + "ken/" + form_select_ken.value + "/"
        }
    });
    button_city.addEventListener("click", function(event) {
        if (form_select_ken.value >= 1 && form_select_city.value >= 1) {
            window.location.href = "/P9100Transact/" + "ken/" + form_select_ken.value + "/city/" + form_select_city.value + "/"
        }
    });
    </script>
    
    {% endblock %}
</body>
</html>

