{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<!-- P9100Transact/templates/P9100Transact/index.html -->
<!-- BEGIN Head -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <title>承認・集計・配布画面 | 水害統計オンラインサイト</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<!-- END Head -->

<!-- BEGIN Body -->
<body>
    {% bootstrap_messages %}
    <a href="{% url 'P0000Dummy:index_view' %}">ダミーメニュー画面に戻る</a><br>
    
    {% block content %}
    
    <!-- BEGIN container text-center mb-3 -->
    <div class="container text-center mb-3">
        <h3>承認・集計・配布</h3>
    </div>
    <!-- END container text-center mb-3 -->
    
    <!-- BEGIN container mb-3 -->
    <div class="container mb-3">
        <div class="row">
            <!-- 都道府県選択 -->
            <div class="col">
                <div class="input-group">
                    <select class="form-select" id="form_select_ken" name="form_select_ken">
                        <option value="0">都道府県の絞り込み条件を選択してください。</option>
                        {% for ken in ken_list %}
                        {% if ken.ken_code == ken_code %}
                        <option value="{{ ken.ken_code }}" selected>{{ ken.ken_name }}</option>
                        {% else %}
                        <option value="{{ ken.ken_code }}">{{ ken.ken_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <button class="btn btn-secondary" type="button" id="button_ken" name="button_ken">都道府県選択</button>
                </div>
            </div>
            
            <!-- 市区町村選択 -->
            <div class="col">
                <div class="input-group">
                    <select class="form-select" id="form_select_city" name="form_select_city">
                        <option value="0">市区町村の絞り込み条件を選択してください。</option>
                        {% for city in city_list %}
                        {% if city.city_code == city_code %}
                        <option value="{{ city.city_code }}" selected>{{ city.city_name }}</option>
                        {% else %}
                        <option value="{{ city.city_code }}">{{ city.city_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <button class="btn btn-secondary" type="button" id="button_city" name="button_city">市区町村選択</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END container mb-3 -->
    
    <!-- 一覧表示 AS_HIDDEN -->
    <form method="POST" action="" id="" name="">
    {% csrf_token %}
    {% for choice in choice_formset %}
    {{ choice.upload_date_hidden.as_hidden }}
    {{ choice.ken_code_hidden.as_hidden }}
    {{ choice.ken_name_hidden.as_hidden }}
    {{ choice.city_code_hidden.as_hidden }}
    {{ choice.city_name_hidden.as_hidden }}
    {{ choice.ippan_kokyo_koeki_code_hidden.as_hidden }}
    {{ choice.ippan_kokyo_koeki_name_hidden.as_hidden }}
    {{ choice.choice_hidden.as_hidden }}
    {% endfor %}
    {% for schedule in schedule_formset %}
    {{ schedule.year_hidden.as_hidden }}
    {{ schedule.month_hidden.as_hidden }}
    {{ schedule.day_hidden.as_hidden }}
    {{ schedule.hour_hidden.as_hidden }}
    {{ schedule.minute_hidden.as_hidden }}
    {{ schedule.comment_hidden.as_hidden }}
    {{ schedule.choice_hidden.as_hidden }}
    {% endfor %}
    </form>

    <!-- 承認／否認／保留 一覧表示 -->
    <div class="mb-3 table-responsive">
        <table class="table table-bordered table-striped text-nowrap">
            <!-- 承認／否認／保留 一覧表示（th: テーブルヘッダ） -->
            <thead>
                <tr>
                    <th class="text-center">変更日時</th>
                    <th class="text-center">都道府県</th>
                    <th class="text-center">市区町村</th>
                    <th class="text-center">項目</th>
                    <th class="text-center"></th>
                    <th class="text-center">承認／否認／保留</th>
                </tr>
            </thead>
            <!-- 承認／否認／保留 一覧表示（td: テーブルデータ） -->
            <!-- <input type="hidden" value="" id="id_choice-0-upload_date_hidden" name="choice-0-upload_date_hidden">-->
            <!-- <input type="hidden" value="" id="id_choice-0-ken_code_hidden" name="choice-0-ken_code_hidden">-->
            <!-- <input type="hidden" value="" id="id_choice-0-city_code_hidden" name="choice-0-city_code_hidden">-->
            <!-- <input type="hidden" value="" id="id_choice-0-ippan_kokyo_koeki_code_hidden" name="choice-0-ippan_kokyo_koeki_code_hidden">-->
            <!-- <input type="hidden" value="" id="id_choice-0-choice_hidden" name="choice-0-choice_hidden">-->
            <tbody>
                {% for choice in choice_formset %}
                <tr>
                    <td id="td_{{ forloop.counter0 }}_0"></td>
                    <td id="td_{{ forloop.counter0 }}_1"></td>
                    <td id="td_{{ forloop.counter0 }}_2"></td>
                    <td id="td_{{ forloop.counter0 }}_3"></td>
                    <td><button class="btn btn-secondary" type="button">詳細表示</button></td>
                    <td>
                        <div class="form-check form-check-inline">
                            {% if choice.choice_hidden.data|stringformat:"s" == "1" %}
                            <input class="form-check-input" type="radio" id="id_choice-{{ forloop.counter0 }}-choice_radio_1" name="choide-{{ forloop.counter0 }}-choice_radio" value="1" checked>
                            <label class="form-check-label" for="choice-{{ forloop.counter0 }}-choice_radio">承認</label>
                            {% else %}
                            <input class="form-check-input" type="radio" id="id_choice-{{ forloop.counter0 }}-choice_radio_1" name="choide-{{ forloop.counter0 }}-choice_radio" value="1">
                            <label class="form-check-label" for="choice-{{ forloop.counter0 }}-choice_radio">承認</label>
                            {% endif %}
                        </div>
                        <div class="form-check form-check-inline">
                            {% if choice.choice_hidden.data|stringformat:"s" == "2" %}
                            <input class="form-check-input" type="radio" id="id_choice-{{ forloop.counter0 }}-choice_radio_2" name="choice-{{ forloop.counter0 }}-choice_radio" value="2" checked>
                            <label class="form-check-label" for="choice-{{ forloop.counter0 }}-choice_radio">否認</label>
                            {% else %}
                            <input class="form-check-input" type="radio" id="id_choice-{{ forloop.counter0 }}-choice_radio_2" name="choice-{{ forloop.counter0 }}-choice_radio" value="2">
                            <label class="form-check-label" for="choice-{{ forloop.counter0 }}-choice_radio">否認</label>
                            {% endif %}
                        </div>
                        <div class="form-check form-check-inline">
                            {% if choice.choice_hidden.data|stringformat:"s" == "3" %}
                            <input class="form-check-input" type="radio" id="id_choice-{{ forloop.counter0 }}-choice_radio_3" name="choice-{{ forloop.counter0 }}-choice_radio" value="3" checked>
                            <label class="form-check-label" for="choice-{{ forloop.counter0 }}-choice_radio">保留</label>
                            {% else %}
                            <input class="form-check-input" type="radio" id="id_choice-{{ forloop.counter0 }}-choice_radio_3" name="choice-{{ forloop.counter0 }}-choice_radio" value="3">
                            <label class="form-check-label" for="choice-{{ forloop.counter0 }}-choice_radio">保留</label>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- スケジュール -->
    <div class="container mb-3">
        <table>
            {% for schedule in schedule_formset %}
            <tr>
                <td>
                    <div class="form-check form-check-inline">
                        {% if schedule.choice_hidden.data|stringformat:"s" == "1" %}
                        <input class="form-check-input" type="radio" id="radio_99_1" name="radio_99" value="1" checked>
                        <label class="form-check-label">スケジュール集計・配布</label>
                        {% else %}
                        <input class="form-check-input" type="radio" id="radio_99_1" name="radio_99" value="1">
                        <label class="form-check-label">スケジュール集計・配布</label>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <table class="table table-bordered">
                        <tr>
                            <td class="text-center">年</td>
                            <td class="text-center">月</td>
                            <td class="text-center">日</td>
                            <td class="text-center">時</td>
                            <td class="text-center">分</td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-select" id="form_select_year" name="form_select_year">
                                    {% for year in year_list %}
                                    <option value="{{year}}">{{year}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select class="form-select" id="form_select_month" name="form_select_month">
                                    {% for month in month_list %}
                                    <option value="{{month}}">{{month}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select class="form-select" id="form_select_day" name="form_select_day">
                                    {% for day in day_list %}
                                    <option value="{{day}}">{{day}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select class="form-select" id="form_select_hour" name="form_select_hour">
                                    {% for hour in hour_list %}
                                    <option value="{{hour}}">{{hour}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select class="form-select" id="form_select_minute" name="form_select_minute">
                                    {% for minute in minute_list %}
                                    <option value="{{minute}}">{{minute}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        {% if schedule.choice_hidden.data|stringformat:"s" == "1" %}
                        <input class="form-check-input" type="radio" id="radio_99_2" name="radio_99" value="2">
                        <label class="form-check-label">即時集計・配布</label>
                        {% else %}
                        <input class="form-check-input" type="radio" id="radio_99_2" name="radio_99" value="2" checked>
                        <label class="form-check-label">即時集計・配布</label>
                        {% endif %}
                    </div>    
                </td>
            </tr>
            {% endfor %}
        </table>    
    </div>
    <div class="container mb-3">
        <label class="col-form-label col-sm-2">承認時コメント</label>
        <textarea class="form-control" value="">承認時コメント</textarea>
    </div>
    <div class="container text-center mb-3">
        <button class="btn btn-secondary" type="button">実行</button>
        <button class="btn btn-secondary" type="button">キャンセル</button>
    </div>
    
    <script>
    // 局所変数を定義する。
    var button_ken = document.getElementById("button_ken"); // 都道府県選択ボタン
    var button_city = document.getElementById("button_city"); // 市区町村選択ボタン
    
    // 都道府県選択ボタンクリック時のイベントハンドラを設定する。
    button_ken.addEventListener("click", function(event) {
        window.location.href = "/P9100Transact/" + "ken/" + form_select_ken.value + "/";
    });
    
    // 市区町村選択ボタンクリック時のイベントハンドラを設定する。
    button_city.addEventListener("click", function(event) {
        window.location.href = "/P9100Transact/" + "ken/" + form_select_ken.value + "/city/" + form_select_city.value + "/";
    });
    
    window.onload = function() {
        if (form_select_ken.value === "0") {
            // document.getElementById("form_select_ken").removeAttribute("disabled");
            // document.getElementById("form_select_city").setAttribute("disabled", true);
            // document.getElementById("button_ken").removeAttribute("disabled");
            // document.getElementById("button_city").setAttribute("disabled", true);
        }
        else {
            // document.getElementById("form_select_ken").removeAttribute("disabled");
            // document.getElementById("form_select_city").removeAttribute("disabled");
            // document.getElementById("button_ken").removeAttribute("disabled");
            // document.getElementById("button_city").removeAttribute("disabled");
        }
    
        {% for choice in choice_formset %}
        document.getElementById("td_{{ forloop.counter0 }}_0").innerHTML = document.getElementById("id_choice-{{ forloop.counter0 }}-upload_date_hidden").value;
        document.getElementById("td_{{ forloop.counter0 }}_1").innerHTML = document.getElementById("id_choice-{{ forloop.counter0 }}-ken_name_hidden").value;
        document.getElementById("td_{{ forloop.counter0 }}_2").innerHTML = document.getElementById("id_choice-{{ forloop.counter0 }}-city_name_hidden").value;
        document.getElementById("td_{{ forloop.counter0 }}_3").innerHTML = document.getElementById("id_choice-{{ forloop.counter0 }}-ippan_kokyo_koeki_name_hidden").value;
        {% endfor %}
        document.getElementById("form_select_year").value = document.getElementById("id_schedule-0-year_hidden").value;
        document.getElementById("form_select_month").value = document.getElementById("id_schedule-0-month_hidden").value;
        document.getElementById("form_select_day").value = document.getElementById("id_schedule-0-day_hidden").value;
        document.getElementById("form_select_hour").value = document.getElementById("id_schedule-0-hour_hidden").value;
        document.getElementById("form_select_minute").value = document.getElementById("id_schedule-0-minute_hidden").value;
    };
    </script>
    
    {% endblock %}
</body>
<!-- END Body -->

</html>