{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<!-- P0900Action/templates/P0900Action/index.html -->
<!-- BEGIN Head -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <title>自動集計・自動検証の状況 | 水害統計オンラインサイト</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <style>
    .btn-fail    {background: #F44B25; color: #FFFFFF;}
    .btn-running {background: #258AC4; color: #FFFFFF;}
    .btn-cancel  {background: #6C757D; color: #FFFFFF;}
    .btn-success {background: #54AB51; color: #FFFFFF;}
    
    a:link {color: #000000; text-decoration:none;}
    a:visited {color: #000000; text-decoration:none;}
    a:hover {color: #000000; text-decoration:none;}
    a:active {color: #000000; text-decoration:none;}
    
    .cl-nav:link {color: #000000; text-decoration:none;}
    .cl-nav:visited {color: #000000; text-decoration:none;}
    .cl-nav:hover {color: #000000; text-decoration:none;}
    .cl-nav:active {color: #000000; text-decoration:none;}

    .cl-bread:link {color: #0000EE; text-decoration:underline;}
    .cl-bread:visited {color: #0000EE; text-decoration:underline;}
    .cl-bread:hover {color: #0000EE; text-decoration:underline;}
    .cl-bread:active {color: #0000EE; text-decoration:underline;}

    .cl-table:link {color: #0000EE; text-decoration: underline;}
    .cl-table:visited {color: #0000EE; text-decoration: underline;}
    .cl-table:hover {color: #0000EE; text-decoration: underline;}
    .cl-table:active {color: #0000EE; text-decoration: underline;}
    </style>
</head>
<!-- END Head -->

<!-- BEGIN Body -->
<body>
    {% bootstrap_messages %}
    {% block content %}

    <!-- BEGIN ナビバー -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- BEGIN ナビバー ファイルメニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" style=";" href="/P0100File/"><strong>ファイル</strong></a>
                    </li>
                    <!-- END ナビバー ファイルメニュー -->
                    
                    <!-- BEGIN ナビバー 自動集計・自動検証メニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" style="border-bottom: 2px solid #0000EE;" href="/P0900Action/">
                            <strong>自動集計・自動検証</strong>
                        </a>
                    </li>
                    <!-- END ナビバー 自動集計・自動検証メニュー -->

                    <!-- BEGIN ナビバー マニュアル検証メニュー -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active cl-nav" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>マニュアル検証</strong>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/P0800Reverse/input/">入力DB内のデータ整合性検証</a></li>
                            <li><a class="dropdown-item" href="/P0800Reverse/summary/">集計DB内のデータ整合性検証</a></li>
                        </ul>
                    </li>
                    <!-- END ナビバー マニュアル検証メニュー -->

                    <!-- BEGIN ナビバー オンライン参照メニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" href="/P0400OnlineDisplay/">
                            <strong>オンライン参照</strong>
                        </a>
                    </li>
                    <!-- END ナビバー オンライン参照メニュー -->

                    <!-- BEGIN ナビバー グラフメニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" href="#">
                            <strong>グラフ</strong>
                        </a>
                    </li>
                    <!-- END ナビバー グラフメニュー -->

                    <!-- BEGIN ナビバー 帳票メニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" href="#">
                            <strong>帳票</strong>
                        </a>
                    </li>
                    <!-- END ナビバー 帳票メニュー -->
                </ul>
                <div class="col d-flex justify-content-end align-items-end">
                    <a class="cl-nav" href="/P0100Login/">
                        <strong>ログアウト</strong>
                    </a><br>
                </div>
            </div>
        </div>
    </nav>
    <!-- END ナビバー -->

    <!-- BEGIN 行 -->
    <div class="row mb-3 ms-1 me-1">
        <!-- BEGIN ドロップダウンメニュー -->
        <div class="col text-end">
            <!-- BEGIN ダウンロードメニュー -->
            <div class="btn-group">
                <button type="button" class="btn btn-light border dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ダウンロード</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/400/">一般資産調査票_調査員用</a>
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/401/">一般資産調査票_市区町村担当者用</a>
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/402/">一般資産調査票_都道府県担当者用</a>
                    <!--<a class="dropdown-item" href="/P0200ExcelDownload/">公共土木調査票</a>-->
                    <!--<a class="dropdown-item" href="/P0200ExcelDownload/">公益事業調査票</a>-->
                </div>
            </div>
            <!-- END ダウンロードメニュー -->
            
            <!-- BEGIN アップロードメニュー -->
            <div class="btn-group">
                <button type="button" class="btn btn-light border dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">アップロード</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/P0300ExcelUpload/">一般資産調査員調査票</a>
                    <a class="dropdown-item" href="/P0300AreaUpload/">水害区域図</a>
                    <a class="dropdown-item" href="">公共土木調査票</a>
                    <a class="dropdown-item" href="">公益事業調査票</a>
                </div>
            </div>
            <!-- END アップロードメニュー -->
        </div>
        <!-- END ドロップダウンメニュー -->
    </div>
    <!-- END 行 -->

    <!-- BEGIN A 自動実行進捗状況 -->
    <div class="row mb-3 ms-1 me-1">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered" style="table-layout:fixed;">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">#</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">A01<br>調査員用アップロード &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">A02<br>データ検証 &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">A03<br>差分検証 &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">A04<br>按分処理 &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">A05<br>データ検証 &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">A06<br>集計処理 &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">A07<br>データ検証 &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:12%;">A99<br>マニュアル検証待ち</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- BEGIN 成功 -->
                        <tr>
                            <th scope="row" class="text-center text-truncate">成功</th>
                            <!-- A01: 調査員用アップロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A01_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A02: データ検証 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A02_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A03: 差分検証 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A03_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A04: 按分処理 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A04_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A05: データ検証 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A05_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A06: 集計処理 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A06_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A07: データ検証 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A07_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A99: マニュアル検証待ち -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A99_waiting_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <!-- END 成功 -->
                        
                        <!-- BEGIN 失敗 -->
                        <tr>
                            <th scope="row" class="text-center text-truncate">失敗</th>
                            <!-- A01: 調査員用アップロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A01_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A02: データ検証 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A02_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A03: 差分検証 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A03_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A04: 按分処理 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A04_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A05: データ検証 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A05_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A06: 集計処理 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A06_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A07: データ検証 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_A07_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- A99: マニュアル検証待ち -->
                            <td>
                                <!--<ul class="list-unstyled text-start">-->
                                <!--    {# for trigger in trigger_A99_failure_list #}-->
                                <!--    <li class="text-truncate">-->
                                <!--        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">-->
                                <!--            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}-->
                                <!--        </a>-->
                                <!--    </li>-->
                                <!--    {# endfor #}-->
                                <!--</ul>-->
                            </td>
                        </tr>
                        <!-- END 失敗 -->

                        <!-- BEGIN ファイル数 or シート数 -->
                        <tr>
                            <th scope="row" class="text-center text-truncate">ファイル数</th>
                            <!-- A01: 調査員用アップロード -->
                            <td class="text-center">{{ trigger_A01_success_count }} / {{ trigger_A01_failure_count }}</td>
                            <!-- A02: データ検証 -->
                            <td class="text-center">{{ trigger_A02_success_count }} / {{ trigger_A02_failure_count }}</td>
                            <!-- A03: 差分検証 -->
                            <td class="text-center">{{ trigger_A03_success_count }} / {{ trigger_A03_failure_count }}</td>
                            <!-- A04: 按分処理 -->
                            <td class="text-center">{{ trigger_A04_success_count }} / {{ trigger_A04_failure_count }}</td>
                            <!-- A05: データ検証 -->
                            <td class="text-center">{{ trigger_A05_success_count }} / {{ trigger_A05_failure_count }}</td>
                            <!-- A06: 集計処理 -->
                            <td class="text-center">{{ trigger_A06_success_count }} / {{ trigger_A06_failure_count }}</td>
                            <!-- A07: データ検証 -->
                            <td class="text-center">{{ trigger_A07_success_count }} / {{ trigger_A07_failure_count }}</td>
                            <!-- A99: マニュアル検証待ち -->
                            <td class="text-center">{{ trigger_A99_waiting_count }} / {{ trigger_A99_waiting_count }}</td>
                        </tr>
                        <!-- END ファイル数 or シート数 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END A 自動実行進捗状況 -->

    <!-- BEGIN B 自動実行進捗状況 -->
    <div class="row mb-3 ms-1 me-1">
        <div class="col-12">
            <!--<div class="table-responsive overflow-auto">-->
            <div class="table-responsive">
                <table class="table table-bordered" style="table-layout:fixed;">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">#</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">B01<br>水害区域図アップロード &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">B02<br>水害区域図貼付け &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">B03<br>集計処理 &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">B04<br>データ検証 &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;"></th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;"></th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;"></th>
                            <th scope="col" class="text-center text-truncate" style="width:12%;">B99<br>マニュアル検証待ち</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- BEGIN 成功 -->
                        <tr>
                            <th scope="row" class="text-center text-truncate">成功</th>
                            <!-- B01: 水害区域図アップロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_B01_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- B02: 水害区域図貼付け -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_B02_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- B03: 集計処理 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_B03_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- B04: データ検証 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_B04_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <!-- B99: マニュアル検証待ち -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_B99_waiting_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <!-- END 成功 -->
                        
                        <!-- BEGIN 失敗 -->
                        <tr>
                            <th scope="row" class="text-center text-truncate">失敗</th>
                            <!-- B01: 水害区域図アップロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_B01_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- B02: 水害区域図貼付け -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_B02_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- B03: 集計処理 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_B03_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- B04: データ検証 -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_B04_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <!-- B99: マニュアル検証待ち -->
                            <td>
                                <!--<ul class="list-unstyled text-start">-->
                                <!--    {# for trigger in trigger_B99_failure_list #}-->
                                <!--    <li class="text-truncate">-->
                                <!--        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">-->
                                <!--            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}-->
                                <!--        </a>-->
                                <!--    </li>-->
                                <!--    {# endfor #}-->
                                <!--</ul>-->
                            </td>
                        </tr>
                        <!-- END 失敗 -->

                        <!-- BEGIN ファイル数 or シート数 -->
                        <tr>
                            <th scope="row" class="text-center text-truncate">ファイル数</th>
                            <!-- B01: 水害区域図アップロード -->
                            <td class="text-center">{{ trigger_B01_success_count }} / {{ trigger_B01_failure_count }}</td>
                            <!-- B02: 水害区域図貼付け -->
                            <td class="text-center">{{ trigger_B02_success_count }} / {{ trigger_B02_failure_count }}</td>
                            <!-- B03: 集計処理 -->
                            <td class="text-center">{{ trigger_B03_success_count }} / {{ trigger_B03_failure_count }}</td>
                            <!-- B04: データ検証 -->
                            <td class="text-center">{{ trigger_B04_success_count }} / {{ trigger_B04_failure_count }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <!-- B99: マニュアル検証待ち -->
                            <td class="text-center">{{ trigger_B99_waiting_count }} / {{ trigger_B99_waiting_count }}</td>
                        </tr>
                        <!-- END ファイル数 or シート数 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END B 自動実行進捗状況 -->

    <!-- BEGIN N O P 自動実行進捗状況 -->
    <div class="row mb-3 ms-1 me-1">
        <div class="col-12">
            <!--<div class="table-responsive overflow-auto">-->
            <div class="table-responsive">
                <table class="table table-bordered" style="table-layout:fixed;">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">#</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">N01<br>調査員用ダウンロード &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">O01<br>市区町村用ダウンロード &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">P01<br>都道府県用ダウンロード &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">Q01<br>地方単独事業ダウンロード &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">R01<br>補助事業ダウンロード &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;">S01<br>公益事業等ダウンロード &raquo;</th>
                            <th scope="col" class="text-center text-truncate" style="width:11%;"></th>
                            <th scope="col" class="text-center text-truncate" style="width:12%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- BEGIN 成功 -->
                        <tr>
                            <th scope="row" class="text-center text-truncate">成功</th>
                            <!-- N01: 調査員用ダウンロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_N01_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- O01: 市区町村用ダウンロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_O01_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- P01: 都道府県用ダウンロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_P01_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- Q01: 地方単独事業ダウンロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_Q01_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- R01: 補助事業ダウンロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_R01_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- S01: 公益事業等ダウンロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_S01_success_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.consumed_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- END 成功 -->
                        
                        <!-- BEGIN 失敗 -->
                        <tr>
                            <th scope="row" class="text-center text-truncate">失敗</th>
                            <!-- N01: 調査員用ダウンロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_N01_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- O01: 市区町村用ダウンロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_O01_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- P01: 都道府県用ダウンロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_P01_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- Q01: 地方単独事業ダウンロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_Q01_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- R01: 補助事業ダウンロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_R01_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- S01: 公益事業等ダウンロード -->
                            <td>
                                <ul class="list-unstyled text-start">
                                    {% for trigger in trigger_S01_failure_list %}
                                    <li class="text-truncate">
                                        <a href="/P0900Action/trigger/{{ trigger.trigger_id }}" class="cl_table">
                                            {{ trigger.ken_name }} {{ trigger.city_name }} {{ trigger.suigai_name }} 日時 {{ trigger.published_at }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- END 失敗 -->

                        <!-- BEGIN ファイル数 or シート数 -->
                        <tr>
                            <th scope="row" class="text-center text-truncate">ファイル数</th>
                            <!-- N01: 調査員用ダウンロード -->
                            <td class="text-center">{{ trigger_N01_success_count }} / {{ trigger_N01_failure_count }}</td>
                            <!-- O01: 市区町村用ダウンロード -->
                            <td class="text-center">{{ trigger_O01_success_count }} / {{ trigger_O01_failure_count }}</td>
                            <!-- P01: 都道府県用ダウンロード -->
                            <td class="text-center">{{ trigger_P01_success_count }} / {{ trigger_P01_failure_count }}</td>
                            <!-- Q01: 地方単独事業ダウンロード -->
                            <td class="text-center">{{ trigger_Q01_success_count }} / {{ trigger_Q01_failure_count }}</td>
                            <!-- R01: 補助事業ダウンロード -->
                            <td class="text-center">{{ trigger_R01_success_count }} / {{ trigger_R01_failure_count }}</td>
                            <!-- S01: 公益事業等ダウンロード -->
                            <td class="text-center">{{ trigger_S01_success_count }} / {{ trigger_S01_failure_count }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- END ファイル数 or シート数 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END N O P 自動実行進捗状況 -->

    <script type="text/javascript">
    </script>
    {% endblock %}
</body>
<!-- END Body -->
</html>
