{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<!-- P0900Action/templates/P0900Action/trigger.html -->
<!-- BEGIN Head -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <title>自動集計・自動検証トリガー画面 | 水害統計オンラインサイト</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
    .btn-fail    {background: #F44B25; color: #FFFFFF;}
    .btn-running {background: #258AC4; color: #FFFFFF;}
    .btn-cancel  {background: #6C757D; color: #FFFFFF;}
    .btn-success {background: #54AB51; color: #FFFFFF;}
    
    a:link {color: #000000; text-decoration:none;}
    a:visited {color: #000000; text-decoration:none;}
    a:hover {color: #000000; text-decoration:none;}
    a:active {color: #000000; text-decoration:none;}
    
    .cl-nav:link {color: #000000; text-decoration:none;}
    .cl-nav:visited {color: #000000; text-decoration:none;}
    .cl-nav:hover {color: #000000; text-decoration:none;}
    .cl-nav:active {color: #000000; text-decoration:none;}

    .cl-bread:link {color: #0000EE; text-decoration:underline;}
    .cl-bread:visited {color: #0000EE; text-decoration:underline;}
    .cl-bread:hover {color: #0000EE; text-decoration:underline;}
    .cl-bread:active {color: #0000EE; text-decoration:underline;}

    .cl-table:link {color: #0000EE; text-decoration: underline;}
    .cl-table:visited {color: #0000EE; text-decoration: underline;}
    .cl-table:hover {color: #0000EE; text-decoration: underline;}
    .cl-table:active {color: #0000EE; text-decoration: underline;}
    </style>
</head>
<!-- END Head -->

<!-- BEGIN Body -->
<body>
    {% bootstrap_messages %}
    {% block content %}

    <!-- BEGIN ナビバー -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- BEGIN ナビバー ファイルメニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl-nav" style="" href="/P0100File/"><strong>ファイル</strong></a>
                    </li>
                    <!-- END ナビバー ファイルメニュー -->
                    
                    <!-- BEGIN ナビバー 自動集計・自動検証メニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl_nav" style="border-bottom: 2px solid #0000EE;" href="/P0900Action/">
                            <strong>自動集計・自動検証</strong>
                        </a>
                    </li>
                    <!-- END ナビバー 自動集計・自動検証メニュー -->

                    <!-- BEGIN ナビバー マニュアル検証メニュー -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active cl_nav" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>マニュアル検証</strong>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/P0800Reverse/input/">入力DB内のデータ整合性検証</a></li>
                            <li><a class="dropdown-item" href="/P0800Reverse/summary/">集計DB内のデータ整合性検証</a></li>
                        </ul>
                    </li>
                    <!-- END ナビバー マニュアル検証メニュー -->

                    <!-- BEGIN ナビバー オンライン参照メニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl_nav" href="/P0400OnlineDisplay/">
                            <strong>オンライン参照</strong>
                        </a>
                    </li>
                    <!-- END ナビバー オンライン参照メニュー -->

                    <!-- BEGIN ナビバー グラフメニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl_nav" href="#">
                            <strong>グラフ</strong>
                        </a>
                    </li>
                    <!-- END ナビバー グラフメニュー -->

                    <!-- BEGIN ナビバー 帳票メニュー -->
                    <li class="nav-item">
                        <a class="nav-link active cl_nav" href="#">
                            <strong>帳票</strong>
                        </a>
                    </li>
                    <!-- END ナビバー 帳票メニュー -->
                </ul>
                <div class="col d-flex justify-content-end align-items-end">
                    <a class="cl_nav" href="/P0100Login/">
                        <strong>ログアウト</strong>
                    </a><br>
                </div>
            </div>
        </div>
    </nav>
    <!-- END ナビバー -->

    <!-- BEGIN 画面名 -->
    <!--<div class="container text-center mb-3">-->
    <div class="row mb-3 ms-1 me-1">
        <div class="col">
        </div>
        <div class="col text-center">
        {% if trigger.0.failure_count|floatformat:"0" == "0" %}
            {% if trigger.0.action_code == "A01" %}
            <h5>A01 アップロード 成功</h5>
            {% elif trigger.0.action_code == "A02" %}
            <h5>A02 データ検証 成功</h5>
            {% elif trigger.0.action_code == "A03" %}
            <h5>A03 差分検証 成功</h5>
            {% elif trigger.0.action_code == "A04" %}
            <h5>A04 按分処理 成功</h5>
            {% elif trigger.0.action_code == "A05" %}
            <h5>A05 データ検証 成功</h5>
            {% elif trigger.0.action_code == "A06" %}
            <h5>A06 集計処理 成功</h5>
            {% elif trigger.0.action_code == "A07" %}
            <h5>A07 データ検証 成功</h5>
            {% elif trigger.0.action_code == "A99" %}
            <h5>A99 マニュアル検証待ち 成功</h5>
            
            {% elif trigger.0.action_code == "B01" %}
            <h5>B01 水害区域図 成功</h5>
            {% elif trigger.0.action_code == "B02" %}
            <h5>B02 水害区域図貼付け 成功</h5>
            {% elif trigger.0.action_code == "B03" %}
            <h5>B03 集計処理 成功</h5>
            {% elif trigger.0.action_code == "B04" %}
            <h5>B04 データ検証 成功</h5>
            {% elif trigger.0.action_code == "B99" %}
            <h5>B99 マニュアル検証待ち 成功</h5>

            {% elif trigger.0.action_code == "N01" %}
            <h5>N01 調査員用ダウンロード 成功</h5>
            {% elif trigger.0.action_code == "O01" %}
            <h5>O01 市区町村用ダウンロード 成功</h5>
            {% elif trigger.0.action_code == "P01" %}
            <h5>P01 都道府県用ダウンロード 成功</h5>
            {% else %}
            {% endif %}
        {% else %}
            {% if trigger.0.action_code == "A01" %}
            <h5>A01 アップロード 失敗</h5>
            {% elif trigger.0.action_code == "A02" %}
            <h5>A02 データ検証 失敗</h5>
            {% elif trigger.0.action_code == "A03" %}
            <h5>A03 差分検証 失敗</h5>
            {% elif trigger.0.action_code == "A04" %}
            <h5>A04 按分処理 失敗</h5>
            {% elif trigger.0.action_code == "A05" %}
            <h5>A05 データ検証 失敗</h5>
            {% elif trigger.0.action_code == "A06" %}
            <h5>A06 集計処理 失敗</h5>
            {% elif trigger.0.action_code == "A07" %}
            <h5>A07 データ検証 失敗</h5>
            {% elif trigger.0.action_code == "A99" %}
            <h5>A99 マニュアル検証待ち 失敗</h5>
            
            {% elif trigger.0.action_code == "B01" %}
            <h5>B01 水害区域図 失敗</h5>
            {% elif trigger.0.action_code == "B02" %}
            <h5>B02 水害区域図貼付け 失敗</h5>
            {% elif trigger.0.action_code == "B03" %}
            <h5>B03 集計処理 失敗</h5>
            {% elif trigger.0.action_code == "B04" %}
            <h5>B04 データ検証 失敗</h5>
            {% elif trigger.0.action_code == "B99" %}
            <h5>B99 マニュアル検証待ち 失敗</h5>
            
            {% elif trigger.0.action_code == "N01" %}
            <h5>N01 調査員用ダウンロード 失敗</h5>
            {% elif trigger.0.action_code == "O01" %}
            <h5>O01 市区町村用ダウンロード 失敗</h5>
            {% elif trigger.0.action_code == "P01" %}
            <h5>P01 都道府県用ダウンロード 失敗</h5>
            {% else %}
            {% endif %}
        {% endif %}
        </div>
        
        <!-- BEGIN ドロップダウンメニュー -->
        <div class="col text-end">
            <!-- BEGIN ダウンロードメニュー -->
            <div class="btn-group">
                <button type="button" class="btn btn-light border dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ダウンロード</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/400/">一般資産調査票_調査員用</a>
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/401/">一般資産調査票_市区町村担当者用</a>
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/402/">一般資産調査票_都道府県担当者用</a>
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/403/">公共土木施設地方単独事業調査票</a>
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/404/">公共土木施設補助事業調査票</a>
                    <a class="dropdown-item" href="/P0200ExcelDownload/data_type/405/">公益事業等調査票</a>
                </div>
            </div>
            <!-- END ダウンロードメニュー -->
            
            <!-- BEGIN アップロードメニュー -->
            <div class="btn-group">
                <button type="button" class="btn btn-light border dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">アップロード</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/P0300ExcelUpload/">一般資産調査員調査票</a>
                    <a class="dropdown-item" href="/P0300AreaUpload/">水害区域図</a>
                    <a class="dropdown-item" href="/P0300ChitanUpload/">公共土木施設地方単独事業調査票</a>
                    <a class="dropdown-item" href="/P0300HojoUpload/">公共土木施設補助事業調査票</a>
                    <a class="dropdown-item" href="/P0300KoekiUpload/">公益事業等調査票</a>
                </div>
            </div>
            <!-- END アップロードメニュー -->
        </div>
        <!-- END ドロップダウンメニュー -->
    </div>
    <!-- END 画面名 -->

    <!-- BEGIN データ一貫性と整合性検証結果の詳細表示 -->
    <!--<div class="container mb-3">-->
    <!-- BEGIN 行 -->
    <div class="row mb-3 ms-1 me-1">
        <!-- BEGIN 列 -->
        <div class="col-sm-6">
        
            <div class="input-group mb-3">
                <label class="col-form-label col-3">トリガーメッセージ</label>
                <div class="col-9">
                    {% if trigger.0.trigger_id is None %}
                    <input class="form-control" type="text" value="" disabled>
                    {% else %}
                    <input class="form-control" type="text" value="{{ trigger.0.trigger_id }}" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="input-group mb-3">
                <label class="col-form-label col-3">ダウンロードファイル</label>
                <div class="col-9">
                    {% if trigger.0.download_file_name is None %}
                    <input class="form-control" type="text" value="" disabled>
                    {% else %}
                    <input class="form-control" type="text" value="{{ trigger.0.download_file_name }}" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="input-group mb-3">
                <label class="col-form-label col-3">アップロードファイル</label>
                <div class="col-9">
                    {% if trigger.0.upload_file_name is None %}
                    <input class="form-control" type="text" value="" disabled>
                    {% else %}
                    <input class="form-control" type="text" value="{{ trigger.0.upload_file_name }}" disabled>
                    {% endif %}
                </div>
            </div>
            
            <div class="input-group mb-3">
                <label class="col-form-label col-3">シート</label>
                <div class="col-9">
                    {% if trigger.0.suigai_id is None %}
                    <input class="form-control" type="text" value="" disabled>
                    {% else %}
                    <input class="form-control" type="text" value="{{ trigger.0.suigai_name }}: {{ trigger.0.suigai_id }}" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="input-group mb-3">
                <label class="col-form-label col-3">都道府県</label>
                <div class="col-9">
                    {% if trigger.0.ken_code is None %}
                    <input class="form-control" type="text" value="" disabled>
                    {% else %}
                    <input class="form-control" type="text" value="{{ trigger.0.ken_name }}: {{ trigger.0.ken_code }}" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="input-group mb-3">
                <label class="col-form-label col-3">市区町村</label>
                <div class="col-9">
                    {% if trigger.0.city_code is None %}
                    <input class="form-control" type="text" value="" disabled>
                    {% else %}
                    <input class="form-control" type="text" value="{{ trigger.0.city_name }}: {{ trigger.0.city_code }}" disabled>
                    {% endif %}
                </div>
            </div>
            
            <div class="input-group mb-3">
                <label class="col-form-label col-3">発行日時</label>
                <div class="col-9">
                    {% if trigger.0.published_at is None %}
                    <input class="form-control" type="text" value="" disabled>
                    {% else %}
                    <input class="form-control" type="text" value="{{ trigger.0.published_at }}" disabled>
                    {% endif %}
                </div>
            </div>
            
            <div class="input-group mb-3">
                <label class="col-form-label col-3">実行日時</label>
                <div class="col-9">
                    {% if trigger.0.consumed_at is None %}
                    <input class="form-control" type="text" value="" disabled>
                    {% else %}
                    <input class="form-control" type="text" value="{{ trigger.0.consumed_at }}" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="input-group mb-3">
                <label class="col-form-label col-3">削除日時</label>
                <div class="col-9">
                    {% if trigger.0.deleted_at is None %}
                    <input class="form-control" type="text" value="" disabled>
                    {% else %}
                    <input class="form-control" type="text" value="{{ trigger.0.deleted_at }}" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="input-group mb-3">
                <label class="col-form-label col-3">成功数</label>
                <div class="col-9">
                    {% if trigger.0.success_count is None %}
                    <input class="form-control" type="text" value="" disabled>
                    {% else %}
                    <input class="form-control" type="text" value="{{ trigger.0.success_count }}" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="input-group mb-3">
                <label class="col-form-label col-3">失敗数</label>
                <div class="col-9">
                    {% if trigger.0.failure_count is None %}
                    <input class="form-control" type="text" value="" disabled>
                    {% else %}
                    <input class="form-control" type="text" value="{{ trigger.0.failure_count }}" disabled>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- END 列 -->

        <!-- BEGIN 列 -->
        <div class="col-sm-6">
            <!-- BEGIN カード -->
            <div class="card">
                <!-- BEGIN カードヘッダ -->
                <div class="card-header">
                    <div class="row">
                        <div class="col text-start">
                            o-okada
                        </div>
                        <div class="col">
                        </div>
                        <div class="col text-end">
                            <a href="#" onclick="location.reload();">表示更新</a>
                        </div>
                    </div>
                </div>
                <!-- END カードヘッダ -->
                
                <!-- BEGIN カード本体 -->
                <div class="card-body">
                    <div class="row border-bottom">
                        <div class="col-sm-6 text-center">
                            情報ログ
                        </div>
                        <div class="col-sm-6 text-center">
                            警告ログ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-start border-end">
                            {% if trigger.0.integrity_ok is None %}
                            &nbsp;
                            {% else %}
                            {{ trigger.0.integrity_ok | linebreaksbr }}
                            {% endif %}
                        </div>
                        <div class="col-sm-6 text-start">
                            {% if trigger.0.integrity_ng is None %}
                            &nbsp;
                            {% else %}
                            {{ trigger.0.integrity_ng | linebreaksbr }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- END カード本体 -->
            </div>
            <!-- END カード -->
        </div>
        <!-- END 列 -->
    </div>
    <!-- END 行 -->
        
    <!--</div>-->
    <!-- END データ一貫性と整合性検証結果の詳細表示 -->
    
    <script type="text/javascript">
    </script>
    {% endblock %}
</body>
<!-- END Body -->
</html>
